/*CSS Pedido*/
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500&display=swap');
* {
    padding: 0;
    margin: 0;
    font-family: 'Inter', sans-serif;
}

.topo {
    background-color: #ffffff;
    box-shadow: 0px 3px 10px #adadad;
    margin-bottom: 60px;
}

.nav-bar {
    display: flex;
    justify-content: space-between;
    padding: 1.5rem 6rem;
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    width: 150px;
}


.nav-list {
    display: flex;
    align-items: center;
    flex-grow: 0.7;
    justify-content: center;
}

.nav-list ul {
    display: flex;
    justify-content: center;
    list-style: none;
}

.nav-item {
    margin: 0 15px;
}

.nav-link {
    text-decoration: none;
    font-size: 1.15rem;
    color: black;
    font-weight: 400;
}

.login-button button {
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    background-color: #0187a7;
    margin-top: 5px;
}

.login-button button a {
    text-decoration: none;
    color: #fff;
    font-weight: 500;
    font-size: 1.1rem;
}

.mobile-menu-icon {
    display: none;
}

.mobile-menu {
    display: none;
}

@media screen and (max-width: 730px) {
    .nav-bar {
        padding: 1.5rem 4rem;
    }
    .nav-item {
        display: none;
    }
    .login-button {
        display: none;
    }
    .mobile-menu-icon {
        display: block;
    }
    .mobile-menu-icon button {
        background-color: rgb(160, 160, 160);
        border-radius: 10%;
        border: none;
        cursor: pointer;
    }
    .mobile-menu ul {
        display: flex;
        flex-direction: column;
        text-align: center;
        padding-bottom: 1rem;
    }
    .mobile-menu .nav-item {
        display: block;
        padding-top: 1.2rem;
    }
    .mobile-menu .login-button {
        display: block;
        padding: 1rem 2rem;
    }
    .mobile-menu .login-button button {
        width: 100%;
    }
    .open {
        display: block;
    }
}




#container {
    text-align: center;
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}

#pedidoFinalizado {
    text-align: center;
    color: #27ae60;
    margin-bottom: 20px;
}

#qrCodeImage {
    width: 60%;
    max-width: 300px;
    height: auto;
    margin-bottom: 20px;
}

#finalizarCompraBtn {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #3498db;
    color: #fff;
    text-align: center;
    text-decoration: none;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 10px;
}

/*CSS ajuda*/

.container {
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}

h1, h2 {
    color: #3498db;
}

p {
    line-height: 1.6;
    margin-bottom: 20px;
}

#VoltarInicio {
    display: block;
    padding: 10px;
    background-color: #3498db;
    color: #fff;
    text-align: center;
    text-decoration: none;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 10px;
}

/*CSS Notificações*/

.notifi {
    max-width: 600px; /* Reduzi a largura máxima para 600px */
    margin: 0 auto;
    padding: 20px;;
}

h3 {
    font-family: 'Inter', sans-serif;
    color: #000000;
    font-size: 20px;
    margin-bottom: 30px;
    background-color: #f5f5f5; /* Cor de fundo */
    padding: 10px; /* Espaçamento interno */
    border-radius: 8px; /* Borda arredondada */
    display: inline-block;
}


.notification {
    background-color: #f5f5f5;
    border: 1px solid #ddd;
    margin-bottom: 10px;
    padding: 10px;
}

.notification-content {
    color: #333;
}

.timestamp {
    color: #777;
    font-size: 12px;
}

@media (max-width: 600px) {
    .notification-content {
        font-size: 14px;
    }
}

